<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>Let's connect</h4>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          <a href="https://instagram.com/e_xor" target="_new"><img class="social-icon" src="/img/instagram.png"><span class="username">e_xor</span></a>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
