<div class="jumbotron mb-0 rounded-0 jumbotron-custom"><!-- jumbotron is outside of a container so it stretches full width -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6 d-flex align-self-center">
        <img class="logo-image" src="/img/logo.jpg">
      </div>

      <div class="col-lg-3 col-md-2 col-sm-6 d-flex align-self-center">
        <h2 class="title-spacing title-text-decoration">{{ site.title }}</h2>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 d-flex align-self-end">

        <nav class="navbar navbar-custom ml-auto title-text-decoration">

          <ul class="nav d-flex flex-column flex-lg-row">
            <li class="nav-item">
              <a class="nav-link" href="#instagram">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#youtube">YouTube</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#hitech">High-Tech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#more">More</a>
            </li>
          </ul>

        </nav>

      </div>
    </div>
  </div>
</div>

<div class="top-highlight"></div>
